
.homer__container{
    height: calc(100vh - 136px);
    display: flex;
    flex-direction: column;
    align-items: center;

}
.homer__content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--tertiary);
    width: 720px;
    border-radius: 8px;
    margin-top: 4rem;
}

.content__dashboard{
    background-color: var(--secondary);
    color: var(--tertiary);
    padding: 1rem 2rem;
    border-radius: 4px;
    width: 90%;
    align-items: center;
    margin-top: -32px;
    box-shadow: 0 2px 8px var(--secondary-001);
}

.dashboard__title{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 8px;
}

.dashboard__description{
    font-size: .9rem;
    margin-top: 6px;
}

.dashboard__content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table-header{
    margin-top: 1.5rem;
}

.table-header,
.table-body{
    display: grid;
    grid-template-columns: 1fr 6fr 6fr 4fr 2fr;
    padding: 0 12px;
    width: 100%;
    
}

.table-header__item{
    color: var(--secondary);
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px 0;
}
    
.table-body__item{
    font-size: .75rem;
    display: flex;
    align-items: center;
    justify-content: center;}

.table__is-building,
.table__not-building{
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: flex;
    align-items: center;
}


.table__header-status{
    position: relative;
    padding: 16px;
}

.table__status{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: .5rem;
    position: absolute;
    bottom: -16px;
}

.status__item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.small-circle,
.circle{
    content: "";
    display: block;
    border-radius: 50%;
}

.small-circle{
    width: 6px;
    height: 6px;
    margin-left: 4px;
}

